.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #2c3e50, #34495e); /* Cool gradient for a modern feel */
  padding: 2rem;
}

.hero-content {
  display: flex;
  justify-content: space-between; /* Space between text and image */
  align-items: center;
  max-width: 1200px;
  color: #ecf0f1;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem 4rem;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.hero-text {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.hero-content h1 {
  font-size: 3.5em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.hero-content .name-highlight {
  color: #00d4ff;
  text-shadow: 0 0 15px rgba(0, 212, 255, 0.8);
}

.hero-content p {
  font-size: 1.3em;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.hero-buttons {
  margin-bottom: 2rem;
  
}

.hero-button {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0.5rem;
  background-color: #00d4ff;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  width: 150px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-button:hover {
  background-color: #009fb7;
  transform: translateY(-5px);
}

.hero-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 212, 255, 0.5);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end; /* Align image to the right */
}

.hero-image img {
  max-width: 400px; /* Set a maximum width for the image */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
.icon-spacing {
  margin-right: 8px; /* Adds space between icon and text */
}
